<div>
    <h1>Register</h1>
    <form action="/users/register" method="POST">
        <div id="form-group">
            <label for="name">Name:</label>
            <input type="text" name="name" class="form-control">
        </div>
        <div id="form-group">
            <label for="name">Email::</label>
            <input type="text" name="email" class="form-control">
        </div>
        <div id="form-group">
            <label for="name">Username:</label>
            <input type="text" name="username" class="form-control">
        </div>
        <div id="form-group">
            <label for="name">Password:</label>
            <input type="password" name="password" class="form-control">
        </div>
        <div id="form-group">
            <label for="name">Confirm:</label>
            <input type="password" name="password2" class="form-control">
        </div>
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>
</div>